<!DOCTYPE html>
<html lang="es-CL" itemscope itemtype="http://schema.org/Article">

<%- include('../heads/artroscopia_cadera.ejs'); %>

<body>
<%- include('../navbar/navbar.ejs'); %>

<header>

  <section class="header-main-pic z-depth-2">
      <div class="intro-area">
          <div class="container">
            <h1> <%= tiTuloh1%> </h1>
            <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
          </div>
        </div>
  </section>

  
</header>   
<%- include('../breadcrumb/artroscopia_cadera.ejs'); %>




<main class="container">
  <div class="row">
   <article class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
        <h2 class="flow-text">Kinesiolog&iacute;a  en enfermedad de sever  </h2>

        <p class="p_blog">
           Esta patología es similar a ossgod schlatter consiste un proceso inflamatorio en el núcleo de crecimiento en el hueso calcáneo por actividades de sobre impacto o sobre uso.
           Esta patología  se debe a un proceso inflamatorio y doloroso en el núcleo de crecimiento del hueso calcáneo, por lo mismo el principal paciente son niños y las medidas terapéuticas generales serán reposo y antiinflamatorios
           Con la terapia de kinesiólogo se puede manejar los procesos inflamatorios con ultrasonido pulsátil, electro analgesia para control del dolor y vendaje funcionar que ayudara a disminuir los edemas.
        </p>


        <h3>QUÉ CONSECUENCIA LO PROVOCA</h3>   
           <p class="p_blog">
              Sin una causa especifica de la patología esta se provoca principalmente por el sobre uso de la zona de crecimiento óseo, además de actividad deportiva sobre superficies no optimas, aumento de peso y mala adaptación al deporte o entrenamiento
           </p>
         <h3>  SÍNTOMATOLOGIA</h3>
         <p class="p_blog">
           La sintomatología que acusa habitualmente la patología es el dolor que puede ser progresivo y aumentar durante la actividad, se percibirán dolor inflamación, el dolor terminara con el reposo y por lo general es de resolución al mediano plazo a pesar de tener una resolución fácil es ideal que el niño sea evaluado por el médico para descartar otro tipo de lesiones como fracturas, o tumores
           Generalmente el examen es del tipo clínico aunque es ideal tener algún apoyo imagen lógico con radiografías para el descarte de otro tipo de lesiones.
         </p>
         <h3>TRATAMIENTO KINESICO</h3>  
         <p class="p_blog">
           El tratamiento conservador va inicialmente a disminuir el dolor y la inflamación
           Para ello se debe aplicar al uso de hielo antiinflamatorios y reposo, con la fisioterapia se puede ayudar  con la aplicación de electro analgesia y medidas con ultrasonido como manera básica
           Aun así con  los primeros elementos tiende a  ser suficiente ya que se espera que estas molestias terminen por pasar entre 6 a 8 meses por lo general
           .
           Junto con el kinesiólogo el paciente puede mejorar su respuesta al dolor, además de la educación a los familiares para evitar el sobre uso mientras este sintomatológico, tener una rutina de flexibilización y recomendaciones sobre el correcto calzado que podría ayudar a minimizar el impacto sobre la estructura complicada.
           .esta es una patología de crecimiento o del desarrollo por lo mismo podría tener reincidencias futuras, aun así el tratamiento no variara más allá del conservador ya que resuelve pro completo sin grandes complicaciones

        </p>
   </article>
   
  
  </div>
 </main>

    <%- include('../botones/boton.ejs'); %> 
    <%- include('../botones/menu-flotante.ejs'); %> 

    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>