<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/Article" lang="es-CL">
 <%- include('../heads/artroscopia_cadera.ejs'); %>
 <body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>
   <section class="header-main-pic z-depth-2">
    <div class="intro-area">
     <div class="container">
      <h1>
       <%= tiTuloh1%>
      </h1>
      <p class="p_blog">
       rehabilitaci&oacute;n en la comodidad de tu hogar
      </p>
     </div>
    </div>
   </section>
  </header>
  <%- include('../breadcrumb/artroscopia_cadera.ejs'); %>
  <main class="container">
   <div class="row">
    <article class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
     <h2 class="flow-text">
      Kinesiolog&iacute;a  en enfermedad de sever
     </h2>
     <p class="p_blog">
      Esta patolog&iacute;a es similar a ossgod schlatter consiste un proceso inflamatorio en el n&uacute;cleo de crecimiento en el hueso calc&aacute;neo por actividades de sobre impacto o sobre uso.
           Esta patolog&iacute;a  se debe a un proceso inflamatorio y doloroso en el n&uacute;cleo de crecimiento del hueso calc&aacute;neo, por lo mismo el principal paciente son ni&ntilde;os y las medidas terap&eacute;uticas generales ser&aacute;n reposo y antiinflamatorios
           Con la terapia de kinesi&oacute;logo se puede manejar los procesos inflamatorios con ultrasonido puls&aacute;til, electro analgesia para control del dolor y vendaje funcionar que ayudara a disminuir los edemas.
     </p>
     <h3>
      QU&Eacute; CONSECUENCIA LO PROVOCA
     </h3>
     <p class="p_blog">
      Sin una causa especifica de la patolog&iacute;a esta se provoca principalmente por el sobre uso de la zona de crecimiento &oacute;seo, adem&aacute;s de actividad deportiva sobre superficies no optimas, aumento de peso y mala adaptaci&oacute;n al deporte o entrenamiento
     </p>
     <h3>
      S&Iacute;NTOMATOLOGIA
     </h3>
     <p class="p_blog">
      La sintomatolog&iacute;a que acusa habitualmente la patolog&iacute;a es el dolor que puede ser progresivo y aumentar durante la actividad, se percibir&aacute;n dolor inflamaci&oacute;n, el dolor terminara con el reposo y por lo general es de resoluci&oacute;n al mediano plazo a pesar de tener una resoluci&oacute;n f&aacute;cil es ideal que el ni&ntilde;o sea evaluado por el m&eacute;dico para descartar otro tipo de lesiones como fracturas, o tumores
           Generalmente el examen es del tipo cl&iacute;nico aunque es ideal tener alg&uacute;n apoyo imagen l&oacute;gico con radiograf&iacute;as para el descarte de otro tipo de lesiones.
     </p>
     <h3>
      TRATAMIENTO KINESICO
     </h3>
     <p class="p_blog">
      El tratamiento conservador va inicialmente a disminuir el dolor y la inflamaci&oacute;n
           Para ello se debe aplicar al uso de hielo antiinflamatorios y reposo, con la fisioterapia se puede ayudar  con la aplicaci&oacute;n de electro analgesia y medidas con ultrasonido como manera b&aacute;sica
           Aun as&iacute; con  los primeros elementos tiende a  ser suficiente ya que se espera que estas molestias terminen por pasar entre 6 a 8 meses por lo general
           .
           Junto con el kinesi&oacute;logo el paciente puede mejorar su respuesta al dolor, adem&aacute;s de la educaci&oacute;n a los familiares para evitar el sobre uso mientras este sintomatol&oacute;gico, tener una rutina de flexibilizaci&oacute;n y recomendaciones sobre el correcto calzado que podr&iacute;a ayudar a minimizar el impacto sobre la estructura complicada.
           .esta es una patolog&iacute;a de crecimiento o del desarrollo por lo mismo podr&iacute;a tener reincidencias futuras, aun as&iacute; el tratamiento no variara m&aacute;s all&aacute; del conservador ya que resuelve pro completo sin grandes complicaciones
     </p>
    </article>
   </div>
  </main>
  <%- include('../botones/boton.ejs'); %> 
    <%- include('../botones/menu-flotante.ejs'); %> 

    <%- include('../footers/footer.ejs'); %>
 </body>
</html>